<div class="container-fluid">
	<div class="row dropdown-divider divider"></div>
	<h1>PENAMABAHAN DATA KRYAWAN</h1>
	<div class="row dropdown-divider divider"></div>
	<%= render "form" %>
</div>
