// Custom bootstrap variable must be set or import before bootstrap.
@import "s3go.css";
@import "jquery-ui.css";
@import "bootstrap";

#notice_wrapper {
  position: absolute;
  z-index: 999999;
  top: 12px;
  right: 12px;
  width: auto;
  background-color: #BD362F;
  overflow: hidden;
  margin: 0 0 6px;
  padding: 15px 15px 15px 50px;
  width: 300px;
  -moz-border-radius: 3px 3px 3px 3px;
  -webkit-border-radius: 3px 3px 3px 3px;
  border-radius: 3px 3px 3px 3px;
  background-position: 15px center;
  background-repeat: no-repeat;
  -moz-box-shadow: 0 0 20px #999999;
  -webkit-box-shadow: 0 0 20px #999999;
  box-shadow: 0 0 12px #999999;
  color: #FFFFFF;
  opacity: 0.8;
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=80);
  filter: alpha(opacity=80);
  .alert .notice .error .success{
    position: relative;
    right: -0.3em;
    top: -0.3em;
    float: right;
    font-size: 30px;
    font-weight: bold;
    color: #FFFFFF;
    -webkit-text-shadow: 0 1px 0 #ffffff;
    text-shadow: 0 1px 0 #ffffff;
    opacity: 0.8;
    -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=80);
    filter: alpha(opacity=80);
    line-height: 1;
  } 
}